<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Win_System.ayar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Win_System.ayarlar" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Win_System.ayar>
            <setting name="saat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dakika" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saniye" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parola" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="start" serializeAs="String">
                <value>True</value>
            </setting>
        </Win_System.ayar>
        <Win_System.ayarlar>
            <setting name="saat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dakika" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saniye" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="parola" serializeAs="String">
                <value>sevgi++</value>
            </setting>
        </Win_System.ayarlar>
    </userSettings>
</configuration>